<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.minimalabs.com/fiber/Fiber" 
       class = "com.minimalabs.fiber.fiber.FiberPackage"
       genModel = "com/minimalabs/fiber/Fiber.genmodel" /> 
	
  </extension>




</plugin>
